#eval "$(dbus-launch --sh-syntax --exit-with-session)"
#eval `dbus-launch --sh-syntax --exit-with-session`
export XMODIFIERS="@im=fcitx"
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx
export PATH=$PATH:~/.local/bin/
#xinput float "AT Translated Set 2 keyboard"
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Disable While Typing Enabled" 0
#export GOPATH=$HOME/go
#export PATH=$PATH:/home/woocat/go/bin
export LC_CTYPE=zh_CN.UTF-8
export PATH=$HOME/go/bin:$PATH
